   <div class="container p-5" >
    <div class="row">
       <div class="col-6 border boder-light rounded p-5 shadow">
        <h6>Login</h6>
        <hr />
  
        <form [formGroup]="form" (ngSubmit)="Send()">  
          <div class="form-group">
            <label>E-mail</label>
            <input
              type="email"
              class="form-control form-control-sm"
              formControlName="emailAddress"
            />
          </div>
  
          <div class="form-group">
            <label>Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              formControlName="password"
            />
          </div>
  
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Login
                </button>
               </div>
              <div class="pl-1">
                <a href="/recoverPass">Forgot my password</a>
              </div>
              <div class="pl-1">
                <a href="/create">Create account!</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>