  <!-- <div class="container p-5" *ngIf="visibleForm"> -->
    <div class="container p-5" >
    <div class="row">
      
      <div *ngIf="password">
        Força da senha: {{ passwordStrength }}
      </div>
      
      <div *ngIf="password !== confirmPassword">
        The passwords must be same!
      </div>
      
        <div class="col-6 border boder-light rounded p-5 shadow">
        <h6>Update Password</h6>
        <hr />
  
        <form [formGroup]="form" (ngSubmit)="Send()">  
          <div class="form-group">
            <label>New Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              formControlName="password"
            />

            <label>Confirm Password</label>
            <input
              type="password"
              class="form-control form-control-sm"
              formControlName="confirmPassword"
            />
          </div>
            
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Send
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>