  <!-- <div class="container p-5" *ngIf="visibleForm"> -->
    <div class="container p-5" >
    <div class="row">
      <!-- <div class="col-6 border boder-light rounded p-5 shadow" *ngIf="form"> -->
        <div class="col-6 border boder-light rounded p-5 shadow">
        <h6>{{ titleForm }}</h6>
        <hr />
  
        <form [formGroup]="form" (ngSubmit)="SendRecoverPass()">  
          <div class="form-group">
            <label>E-mail</label>
            <input
              type="email"
              class="form-control form-control-sm"
              formControlName="emailAddress"
            />
          </div>
            
          <div class="container">
            <div class="row">
              <div>
                <button type="submit" class="btn btn-sm btn-outline-secondary">
                  Send
                </button>
              </div>
              <!-- <div class="pl-1">
                <button type="button" class="btn btn-sm btn-light" (click)="Back()">Back</button>
              </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>